:root {
     /*--primary-color: #4CAF50; Cor principal verde */
     --primary-color: #F3DE21;
    --secondary-color: #333; /* Cor secundária */
    --background-color: #1E1E1E; /* Fundo escuro */
    --text-color: #E0E0E0; /* Texto claro */
    --card-background: #434343;
}

/* Estilos da Seção de Título */
.section-banner {
    text-align: center;
    background-color: #000000;
    padding: 50px 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.section-banner h2 {
    font-size: 36px;
   
    margin-bottom: 10px;
}

.section-banner p {
    font-size: 18px;
    color: var(--text-color);
}

/* Estilos para a grade de categorias */
.main-content {
    padding: 20px;
}

.categorias-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px 40px;
}

.categoria-card {
    background-color: var(--card-background);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.categoria-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.categoria-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid var(--primary-color);
}

.categoria-card h3 {
    color: var(--primary-color);
    font-size: 20px;
    margin: 0;
}

.categoria-card p {
    font-size: 14px;
    color: var(--text-color);
    margin-top: 5px;
}